.card {
    background-color: $card-bg;
    padding: 0.8rem;
    border-radius: 3px;
    & p {
        font-size: 0.8rem;
    }
}

.card-title {
    height: 55px;
}

.edit-btn {
    background-color: #00000000;
    border: 0;
    color: #2c2c2c;
    &:hover {
        color: #696969;
    }
}
