body {
  background-color: $background-color;
  font-size: rem(18px);
  margin: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

::selection {
  background-color: #43c155;
  color: #ffffff;
}

a {
  color: #43c155;
}

html {
  font-family: "Varela Round", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h6 {
  margin: 0 0 0em;
  line-height: 1;
}

input {
  border: 0;
  height: 1.3rem;
  border-radius: 3px;
  padding-left: 7px;
  margin-top: 2px;
  width: 100%;
}

.w-150 {
  min-width: 80px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
